@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Shizuru&display=swap');
@import "../variables.css";
@import "../pages/catalog.css";
body
{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
.container
{
    padding: 0px 110px;
    max-width: 1225px;
    margin: 0 auto;
}
header
{
    padding-left: var(--content-padding-form-desktop);
    padding-right: var(--content-padding-form-desktop);
}
.header-top
{
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;

}
.header-logo
{
    width: 202px;
    flex: 0 0 auto;
    min-height: 60px;
    background: url("../../icon/logo-desktop.svg");
    margin-right: 30px;
}
.header-main-menu
{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 35px;

}
.header-main-menu a
{
    text-decoration: none;
    color: #111111;
    font-size: 20px;
    font-family: 'Oswald';
    text-transform: uppercase;
}
.main h1
{
    margin-top: 75px;
    max-width: 432px;
    min-height: 60px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 1.3;
    color: #000000;
}
.main__form-text-list
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 202px;
    width: 100%;
}
.header__mobile-logo
{
    display: none;
    background: url("../../icon-catalog/name.svg");
    height: 18px;
    width: 101px;
    background-repeat: no-repeat;
}
.header__mobile-menu
{
    display: none;
    background: url("../../icon-catalog/chert.svg");
    width: 24px;
    height: 19px;
    background-repeat: no-repeat;
}
.main-text
{
    display: flex;
    max-width: 323px;
    min-height: 60px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;

    text-transform: uppercase;
    color: #000000;
}
.main__form-block
{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 65px;
    gap: 80px;
}
.main__form-text
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main__form-text label
 {
    text-transform: uppercase;
    margin-right: 15px;
    max-width: 171px;
    min-height: 30px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height:1.4;
    white-space: nowrap;
    color: #444444;
 }
.main__form-text input
{
    padding: 12px 20px;
    border: 1px solid #E7E7E7;
    width: 100%;
    font-family: 'Oswald';
    height: 52px;
    resize: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #444444;
}
.main__selection
{
    padding-left: var(--content-padding-form-desktop);
    padding-right: var(--content-padding-form-desktop);
}
.main__from-button
{
    border: 1px solid #E7E7E7;

    min-height: 200px;
    width: 100%;
}
.custom-checkbox:hover .custom-checkbox__indicator
{
    border: 1px solid #BABABA;
}
.section__data
{

}
.custom-checkbox
{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 13px;
    margin-left: 30px;
}
.custom-checkbox span
{
    text-transform: uppercase;
}
.custom-checkbox:nth-child(1)
{
    margin-top: 25px;
}
.custom-checkbox input
{
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
}
.custom-checkbox__indicator
{
    margin-right: 20px;
    width:40px;
    height: 40px;
    border: 1px solid #CDCDCD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-checkbox:checked .custom-checkbox__label
{
    opacity: 0.6;
    transition: opacity 0.25s;

}
.custom-checkbox input:checked + .custom-checkbox__indicator
{

}
.main__line
{
    width: 100%;
    border: 4px solid green;
}

.main__additional-products
{
    margin-top: 100px;
    width: 100%;
    height: 2px;
    background-color: var(--basic-green);
}
.main__line-title
{

}
.main__line-title h4 {
    max-width: 512px;
    width: 100%;
    min-height: 36px;
    padding-left: 40px;
    padding-right: 35px;
    display: flex;
    background-color: white;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.4;
    text-align: start;
    position: relative;
    bottom: 25px;
    right: 40px;
}
.section__data
{
    display: flex;
    gap:105px;
    padding-left: var(--content-padding-form-desktop);
    padding-right: var(--content-padding-form-desktop);
    justify-content: space-between;
}
.section__data-comment
{
    padding-left: var(--content-padding-form-desktop);
    padding-right: var(--content-padding-form-desktop);
}
.main__form-data
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.main__form-data label
{
    text-transform: uppercase;
    margin-right: 20px;
    max-width: 120px;
    min-height: 30px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height:1.4;
    color: #444444;
}
.main__form-data input
{
    padding: 12px 20px;
    padding-right: 53px;
    border: 1px solid #E7E7E7;
    width: 100%;
    height: 52px;
    resize: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #444444;
}
.main__form-data:focus
{
    color:red;
}

.main__form-data img
{
    position: relative;
    right: 38px;
}

.main__comment
{
    max-width: 182px;
    width: 100%;
    min-height: 36px;
    padding-left: 40px;
    padding-right: 35px;
    display: flex;
    background-color: white;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.4;
    text-align: start;
    position: relative;
    bottom: 25px;
}
.main__form-comment
{
    margin-top: 75px;
    width: 100%;
}
.main__form-comment textarea
{
    padding: 12px 20px;
    border: 1px solid #E7E7E7;
    width: 100%;
    height: 174px;
    resize: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #444444;
}

.main__additional-products-comment
{
    margin-top: 100px;
    width: 100%;
    height: 4px;
    background-color: var(--basic-green);
}
.main__line-title-comment h4 {
    max-width: 182px;
    width: 100%;
    min-height: 36px;
    padding-left: 40px;
    padding-right: 35px;
    display: flex;
    background-color: white;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.4;
    text-align: start;
    position: relative;
    bottom: 25px;
    right: 40px;
}

.main__line-title-additionally h4
{
    max-width: 212px;
    width: 100%;
    min-height: 36px;
    padding-left: 40px;
    padding-right: 35px;
    display: flex;
    background-color: white;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.4;
    text-align: start;
    position: relative;
    bottom: 25px;
    right: 40px;
}
.main__checkbox-block
{
    margin-top: 60px;
    height: auto;
}


.block {
    margin-top: 2rem;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.custom-checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
}

.custom-checkbox__indicator {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #CDCDCD;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    background: var(--basic-green);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0;
    transition: 0.3s;
}

.custom-checkbox__label {
    font-size: 20px;
    text-transform: uppercase;
}

.custom-checkbox input:checked + .custom-checkbox__indicator .circle {
    opacity: 1;
}
.check:hover .check__box
{
    border: 1px solid #BABABA;
}
.main-container
{
    width: 100%;
    height: auto;
    margin-top: 60px;
    display: flex;
    gap:20px 115px;
    flex-wrap: wrap;
}
.check
{
    display: flex;
    align-items: center;
    max-width: 220px;
    width: 100%;
cursor: pointer;
}
.check__input
{
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
}
.check__box
{
    width: 40px;
    height: 40px;
    border: 1px solid #CDCDCD;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom__checkbox-indicator
{
    background-image:url("../../icon/tick.svg");
    width: 26px;
    height: 26px;
    border-radius: 50%;
    opacity: 0;
    transition: 0.5s;

}
.check__input:checked + .check__box .custom__checkbox-indicator
{
    opacity: 1;
}


.custom__label-text
{
    margin-left:20px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
}
.main__map
{
    margin-top: 90px;
}
.main__request-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--basic-green);
    width: 568px;
    height: 52px;
    text-decoration: none;
    color:#FFFFFF;
    text-transform: uppercase;
}
.main__request-signature
{
    display: flex;
    align-self: center;
    margin-left: 105px;
}
.main__button-additional
{
margin-top: 90px;
}
.button__request
{
    display: flex;
}
@media (max-width: 1024px)
{
    header
    {
        padding-left: 0px;
        padding-right: 0px;
    }
    .container
    {
        padding: 0px 40px;
    }
    .container h1
    {
        margin-left: 30px;
    }
    .header-top
    {
        margin-left: 0px;
        margin-top: 40px;
    }
    .header-main-menu a
    {
        font-size: 16px;
    }
    .header-logo
    {

    }
    .section__data
    {
        padding-left: var(--content-padding-tablet);
        padding-right:  var(--content-padding-tablet);
    }
    .container p
    {
        margin-left: 30px;
    }
    .main__selection
    {
        padding-left: var(--content-padding-tablet);
        padding-right:  var(--content-padding-tablet);
    }
    .section__data
    {

       display: block;
        gap: 20px;
    }
    .section__data-comment
    {
        padding-left: var(--content-padding-tablet);
        padding-right:  var(--content-padding-tablet);
    }
    .main__form-block
    {
        align-items: start;
        flex-direction: column;
        gap: 72px;
    }
    .main__form-text-list
    {
    }
    .main__form-text
    {

    }
    .main__from-button
    {
        width: 100%;
    }
    .section__data
    {
        margin-left: 30px;
    }
    .main-container
    {

    }
    .main__form-data
    {

        margin: 0px;
    }
    .main__form-data input
    {
        margin: 0px;
    }
    .main__form-data:nth-child(1)
    {
        margin-top: 75px;
    }
    .main__form-data:nth-child(2)
    {
        margin-top: 20px;
    }
    .main__button-additional
    {
        margin-top: 30px;
    }
    header
    {
        padding-left: 30px;
        padding-right: 30px;
    }
    .footer
    {
        padding:0;
    }
    .main__request-button
    {
        width: 282px;
    }
    .main__map
    {
        margin-top: 0px;
    }
    .header-logo
    {
        background: url("../../icon/logo-tablet.svg");
        background-repeat: no-repeat;
    }
}
@media (max-width: 768px)
{
    .container
    {
        padding: 0px 40px;
    }
    .header-main-menu
    {
        margin-right: 0px;
    }
    .main__form-block
    {
        padding-left: 0;
    }
    .main__form-text-list
    {
        max-width: 630px;
    }
    .main__form-data
    {

    }
    .main__form-data input
    {

    }
    .main__form-text
    {
        max-width: 750px;
    }
    .main__from-button
    {
        max-width: 630px;
        padding-right: 0px;
    }
    .main__line-title h4
    {
        right: 0;
        padding-left: 20px;
   max-width: 280px;
    }
    .main__additional-products:nth-last-child(1)
    {
        border: 1px solid red;
    }
    .section__data
    {

        margin-top: 130px;
    }
    .main-container
    {
        max-width: 650px;
        width: 100%;
        gap: 32px;
        justify-content: space-between;
    }
    .main__button-additional
    {
        margin-bottom: -25px;
        margin-top: 55px;
    }
    .check:nth-child(2n)
    {
        margin-right: 30px;
    }
    .main__line-title-comment h4
     {
         right: 0;
         padding-left: 20px;
         max-width: 180px;
     }
    .main__line-title-additionally h4
    {
        right: 0;
        padding-left: 20px;
        max-width: 200px;
    }
    .header-logo
    {
        background: url("../../icon/logo-tablet.svg");
        background-repeat: no-repeat;
    }

}
@media (max-width: 590px)
{
    header
    {
        padding-left: 0px;
        padding-right: 0px;
    }

}
@media (max-width: 590px)
{
    .main h1
    {
        font-size: 36px;
        margin-top: 20px;
        text-align: center;
        max-width: 100%;
    }
    .main-text
    {
        text-align: center;
        max-width: 100%;
    }
    header
    {
        padding-left: 0;
    }
    .container
    {
        padding:0px 10px;
        width: 100%;
    }
    .section__data
    {
        margin-top:0;
        padding-left: var(--content-padding-mobile);
        padding-right:  var(--content-padding-mobile);
        margin-left: 0px;
    }
    .main__form-data:nth-child(1)
    {
        margin-top: 60px;
    }
    .main__form-data
    {
        justify-content: start;
    }
    .container h1
    {
        margin: 0 auto;
        font-size: 36px;
        margin-left: 0px;
    }
    .container p
    {
        font-size: 14px;
    }

    .main__form-block
    {
        width: 100%;

        max-width: 500px;
        margin-top: 0px;
        margin-bottom: 40px;
        gap: 20px;
    }

    .main__form-text-list
     {

         width: 100%;

        margin-left: 0px;
     }
    .section__data-comment
    {
        margin-top: -40px;
        padding-left: var(--content-padding-small-mobile);
        padding-right: var(--content-padding-small-mobile);
    }
    .main__selection
    {
        padding-left: var(--content-padding-small-mobile);
        padding-right: var(--content-padding-small-mobile);
    }
    .main__form-text label
    {
        font-size: 16px;
    }
    .main__line-title h4
    {
        font-size: 24px;
        width: 100%;
        max-width: 182px;
        padding-right: 20px;
        padding-left: 20px;
        right: 20;
    }
    .main__line-title-comment h4
    {
        font-size: 24px;
        padding-right: 20px;
        max-width: 121px;
        width: 100%;
        bottom: 18;
    }
    .main__line-title-additionally h4
    {
        font-size: 24px;
        padding-right: 40px;
        max-width: 121px;
        width: 100%;
        bottom: 18;
    }
    .main-container
    {
        margin-left: 20px;
    }
    .custom-checkbox__indicator
    {
        width: 30px;
        height: 30px;
    }
    .circle
    {
        width: 13.5px;
        height: 13.5px;
    }
    .main__form-comment textarea
    {
        font-size: 16px;
    }
    .main__form-data input
    {
        font-size: 16px;
    }
    .main__form-data label
    {
        font-size: 16px;
    }

    .container p
    {
        margin-left:0;
    }
    .main__from-button
    {
        max-width: 500px;
        width: 100%;
        min-height: 160px;
        margin-left: 0px;
    }
    .custom-checkbox__label
    {
        font-size: 16px;
    }

    .main__button-additional
    {
        margin-top: 35px;
    }
    .custom__label-text
    {
        font-size: 16px;
    }
    .check__box
    {
        width: 30px;
        height: 30px;
    }
    .button__request
    {
        margin-left: 10px;
        flex-wrap: wrap;
    }
    .main__request-button
    {

    }
    .main__request-signature
    {
       margin-left: 60px;
        margin-top: 20px;
        margin-bottom: 20px;

    }
    .main__checkbox-block
    {
        margin-top: -10px;
        padding: 0;
    }
    .main__additional-products
    {
        margin-top: 27px;
    }
    .main-container
    {
        max-width: 220px;
        gap: 13px;

    }








    .header-logo
    {
        background: url("../../icon-catalog/logo-mobile.svg");
        margin-right: 0px;
        width: 33px;
        height: 37px;
        min-height: 0px;
    }
    .header-top
    {
        align-items: center;
        justify-content: space-around;
        margin-top: 0px;
        margin-left: 0px;
    }
    .header__mobile-logo
    {
        display: flex;
    }
    .header__mobile-menu
    {
        display: flex;
    }
    .header__mobile-logo
    {
        display: flex;
    }
    .header__mobile-menu
    {
        display: flex;
    }
    .header-main-menu
    {
        display: none;
    }


html
{
overflow-x: hidden;
}
    .footer{
        background: none;
        height: auto;
    }
    .footer__line
    {
        height: 236px;
        flex-direction: column;
        justify-content: center;
    }
    .footer-logo
    {
        flex: 0 0 auto;
    }
    .footer-social
    {
        margin-top: 30px;
        border-top: 1px solid #D9D9D9;
        border-bottom: 1px solid #D9D9D9;
        width: 280px;
        height: 63px;
        justify-content: center;
        gap: 37px;
    }
}
